body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #222;
  color: white;
}

#skor {
  font-size: 50px;
  margin: 20px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
